<h1>Activity</h1>
Current activity:
<% if @current_activity %>
  <%= @current_activity.description %>
  <%= button_to 'End this activity', end_activity_path(@current_activity), method: :patch %>
<% else %>
  No activity.
<% end %>

<h1>Goals</h1>
<ul>
  <% @goals.each do |g| %>
    <li>
      <%= g.name %>
      <%= button_to 'Create activity for this goal', create_for_goal_activities_path(id: g.id), method: :post %>
    </li>
  <% end %>
</ul>
